{% extends 'blog/base.html' %}

{% block content %}
    <div class="p-5 m-3 bg-light rounded" align="center">
        <h2>Please Login:</h2>
        <h4>(Must be SuperUser, please check with the site admin for issues.)</h4>

        {% if form.errors %}
            <p>Your username and password didn`t match! Please try again.</p>
        {% endif %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">
                <i class="bi bi-box-arrow-in-left"></i> Log in
            </button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}